@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-mauve: #A4778B;
  --color-teal: #073B3A;
  --color-ash: #9BC1BC;
  --color-linen: #E6EBE0;
  --color-salmon: #D78A76;
  
  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-linen);
  color: var(--color-teal);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
